# Conditional Statement

semua bukan false ialah true

In [2]:
# false ialah:
   # - angka 0 (float, int)
   # - string kosong (text tapi tidak ada karakternya samsek, length 0)
   # - bolean false
   # - list kosong []
   # - tuple kosong ()
   # - dictionary {}

In [5]:
x = 22
y = 23 

if x != y :
    print("vilga")
if x < y :
    print("vilga")
if x > y : 
    print("ganteng")

vilga
vilga

In [6]:
if 3 in [30, 13, 33, 0.3]: 
    print("ada")

In [7]:
if "tiga" in ("tiga puluh", "tiga belas", "tiga puluh tiga"):
    print("ada")

In [9]:
cuaca_cerah = True 

if cuaca_cerah :
    print("hatiku senang")
    print("mari jalan jalan")

hatiku senang
mari jalan jalan

In [10]:
diluar_hujan = False 

if diluar_hujan : 
    print("aku sedih")
    print("terdiam membisu")
print("bisa jalan jalan")

bisa jalan jalan

In [14]:
sudah_kompre = True
lanjut_mengurus_SKL = True 
sudah_wisuda = False 

if sudah_kompre :
    if lanjut_mengurus_SKL:
        print("menunggu wisuda")
    else:
        print("segera mengurus surat surat SKL")
    if sudah_wisuda:
        print("anda sudah terbebas dari kuliah")
    else:
        print("segera mengurus administrasi yang ada")
else: 
    print("segera mengurus kompre")
    
print("selesai pengecekan")

menunggu wisuda
segera mengurus administrasi yang ada
selesai pengecekan

In [15]:
sudah_kompre = True
lanjut_mengurus_SKL = False 
sudah_wisuda = False 

if sudah_kompre :
    if lanjut_mengurus_SKL:
        print("menunggu wisuda")
    else:
        print("segera mengurus surat surat SKL")
    if sudah_wisuda:
        print("anda sudah terbebas dari kuliah")
    else:
        print("segera mengurus administrasi yang ada")
else: 
    print("segera mengurus kompre")
    
print("selesai pengecekan")

segera mengurus surat surat SKL
segera mengurus administrasi yang ada
selesai pengecekan

In [16]:
hari_ini = "minggu"

if hari_ini == "senin":
    print("saya kuliah")
elif hari_ini == "selasa":
    print("saya kuliah")
elif hari_ini == "rabu":
    print("saya kuliah")
elif hari_ini == "kamis":
    print("saya kuliah")
elif hari_ini == "jumat":
    print("saya kuliah")
elif hari_ini == "sabtu":
    print("saya libur")
elif hari_ini == "minggu":
    print("saya libur")

saya libur

## pass statement

In [19]:
if x > y :
    pass
elif x == y :
    pass

# While Loop

selama kondisinya masih true statementnya akan diulang terus

In [20]:
print(1)

1

In [21]:
rumah_bersih = True

while rumah_bersih:
    print("saya tidur")
    
    rumah_bersih = False

saya tidur

In [26]:
counter = 0 

while counter < 10:
    counter += 1 
    print("kelas", counter)
else:
    print("kelas usai")

kelas 1
kelas 2
kelas 3
kelas 4
kelas 5
kelas 6
kelas 7
kelas 8
kelas 9
kelas 10
kelas usai

# Break and Continue

sama seperti else di while

In [36]:
angka = 0
cuti = 10 

while angka < 20:
    angka += 1 
    if angka == cuti:
        break;
    print("ikut kelas", angka)

ikut kelas 1
ikut kelas 2
ikut kelas 3
ikut kelas 4
ikut kelas 5
ikut kelas 6
ikut kelas 7
ikut kelas 8
ikut kelas 9

In [37]:
counter = 0 
bolos = 5 

while counter < 16:
    counter += 1 
    if counter == bolos:
        continue;
    print("kelas", counter)

kelas 1
kelas 2
kelas 3
kelas 4
kelas 6
kelas 7
kelas 8
kelas 9
kelas 10
kelas 11
kelas 12
kelas 13
kelas 14
kelas 15
kelas 16

## For Loop

In [38]:
urutan_angka = [1,2,3,4,5,6,7,8]
for vilga in urutan_angka:
    print(vilga)

1
2
3
4
5
6
7
8

In [40]:
rumah = {
    "lantai" : 3,
    "tipe" : "industrial",
    "kamar" : 5,
}
for arta in rumah:
    print(arta)

lantai
tipe
kamar

In [41]:
rumah = {
    "lantai" : 3,
    "tipe" : "industrial",
    "kamar" : 5,
}
for arta in rumah:
    print(arta, rumah)

lantai {'lantai': 3, 'tipe': 'industrial', 'kamar': 5}
tipe {'lantai': 3, 'tipe': 'industrial', 'kamar': 5}
kamar {'lantai': 3, 'tipe': 'industrial', 'kamar': 5}